body {
	background: #141414;
	color: #ffffff;
}

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
	white-space: nowrap;
	cursor: grab;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.movie-app > .row.active {
	cursor: grabbing;
}

.movie-app > .row::-webkit-scrollbar {
	display: none;
}

.row > * {
	flex-shrink: 1;
	width: auto;
	padding-right: calc(var(--bs-gutter-x) * 0.25);
	padding-left: calc(var(--bs-gutter-x) * 0.25);
}

.image-container {
	position: relative;
	transition: transform 0.2s;
	margin: 0 5px;
	display: inline-block;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}
